div{
    width: 400px;
    display: inline-block;
    vertical-align: top;
}

label{
    display: block;
}

button{
    display: block;
}

.menu{
    display: inline;
}

.liked {
    color: blue;
}

.quoteContainer {
    display: block;
    border: 1px solid black;
    margin-bottom: 10px;
}